<!DOCTYPE html>
<html lang="en">
<head>
  <meta property="og:title" content="URL Shortner service">
    <meta property="og:type" content="URL Shortner service provider">
    <meta property="og:url" content="https://shorturl.koyeb.app">
    <meta property="og:image" content="https://shorturl.koyeb.app/static/img/logo.jpeg">
    <meta property="og:description" content="URL Shortner service provider company">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>ejs</title>
</head>
<body>
  <h1>hello from ejs</h1>
  <form action="/form" method="post">
    <input type="text" name="url" placeholder="example.com" required>
    <input type="submit">
  </form>
  <% urls.forEach(url => { %>
    <%= url.redirectUrl %> <%= url.shortId%> <br>
  <% }) %>
</body>
</html>